MODE=DEMO
LIVE_TRADING=false
LIVE_CONFIRMATION=false

DERIV_API_TOKEN=
DERIV_APP_ID=
DERIV_WS_URL=wss://ws.derivws.com/websockets/v3

PRIMARY_MARKET=FOREX

RISK_PER_TRADE=0.005
MAX_STAKE=10.0
MAX_DAILY_LOSS=20.0
MAX_DRAWDOWN=0.15
MAX_CONSECUTIVE_LOSSES=5
MAX_TRADES_PER_HOUR=4
MAX_TRADES_PER_DAY=20
MAX_OPEN_CONTRACTS=3

MIN_PROBABILITY_EDGE=0.03
MIN_EXPECTED_VALUE=0.0
MIN_PAYOUT=0.0

MIN_DATA_QUALITY=2
MAX_LATENCY_MS=800
